.container {
	margin: 0 auto;
	width: 900px;
	}

#headline {
	font-family: "Poppins", sans-serif;
	font-size: 3em
	font-weight: 800;
	text-align: center;
	}

#byline {
	font-family: "Poppins", sans-serif;
	font-size: 1em;
	text-align: center;
	}

#image-container {
	text-align: left;
	font-size: 10px;
	font-family: "Poppins", sans-serif;
	color: #5a5959; 
	margin-bottom: 20px;
	}

#image {
	width: 100%;
	height: 0 auto;
	object-fit: cover;
	margin: 0 auto;
	}

#first-inline-image-container {
	text-align: left;
	font-size: 10px;
	font-family: "Poppins", sans-serif;
	width:500px;
	height:0 auto;
	color: #5a5959;
	margin: 0 auto;
	float: right;
	}

#first-inline-image {
	width:450px;
	height:0 auto;
	object-fit: cover;
	margin: 0 auto;
	}

.subheading {
	font-family: "Poppins", sans-serif;
	font-size: 1em;
	font-weight: 600;
	}
	
p {
	font-family: "Cormorant Garamond", serif;
	font-size: 1em;
	}

blockquote {
  	border: none;
 	font-family: "Cormorant Garamond", serif;
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 1em;
	font-weight: 600;
	color: 	#031960	
	}

blockquote h3:before {
  content: open-quote;
  font-weight: bold;
  font-size: 100px;
  color: #889c0b;
	}

blockquote h3:after {
  content: close-quote;
  font-weight: bold;
  font-size: 100px;
  color: #889c0b;
	}

#percent-farmland-container {
	text-align: left;
	font-size: 10px;
	font-family: "Poppins", sans-serif;
	width:500px;
	height:0 auto;
	color: #5a5959;
	margin: 0 auto;
	float: left;
	}

#farmland-price-image {
	width:500px;
	height:0 auto;
	object-fit: cover;
	margin: 0 auto;
	}

#farmland-price-container {
	text-align: left;
	font-size: 10px;
	font-family: "Poppins", sans-serif;
	width:550px;
	height:0 auto;
	margin: 0 auto;
	}

#percent-farmland-image {
	width:450px;
	height:0 auto;
	object-fit: cover;
	margin: 0 auto;
	}

#sheep-solar-image-container {
	text-align: left;
	font-size: 10px;
	font-family: "Poppins", sans-serif;
	width:500px;
	height:0 auto;
	color: #5a5959;
	margin: 0 auto;
	float: right;
	}

#sheep-solar-image {
	width:450px;
	height:0 auto;
	object-fit: cover;
	margin: 0 auto;
	}


.col-4 {font-family: "Cormorant Garamond", serif;
	font-size: 1em;
	text-align:center;
	margin-top: 2em;
	margin-bottom: 2em;
	}

.footer-container-fluid {
	background: #067d1e;
	width: 100%;
	margin: 0 auto;
    	margin: 0 auto;
   	padding: 20px 0;
	}

.footer {
	text-align: left;
	color: white;	
	font-family: "Poppins", sans-serif;
	}

.links a:link {
	font-weight: 600;
	color: #FFFFFF;
	}

.links a:hover {
	color: #0000FF;
	}

.links a:visited {
	color: #FF0000;
	}