/*styles for my resume*/

#container { 
	font-family: "Open Sans", Arial;
	font-size: 1em; 
	color: #444;  
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
	}

/*changed from h1*/
#name {
	font-size: 3em;
	color: #33485e;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #33485e;
	width: 60%;
	min-width: 300px; 
	margin: 0 auto; 
	}

ul {	
	font-size: 1 em;
	}

ul.menu {
	margin: 10px 0px 20px;
	padding: 0px;
	text-align: center;
	}

.menu li {
	display: inline;
	padding: 0px 20px; 
	}

.menu a:link {
	font-weight: 600;
	color: #0bc5f4;
	}

.menu a:hover {
	color: #33485e;
	}

.menu a:visited {
	color: #6e38c7;
	}

#headshot-container {
	text-align: center;
	}

#headshot {
	width: 150px;
	height: 150px; 
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid #33485e;
	}

#title { 
	font-size: 1.5em;
	color: #33485e;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	margin: 20px 0px 0px;
	}

/*changed from h2*/
.sectionheader {
	font-size: 1.5em;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	background-color: #33485e;
	margin: 20px 0px 10px;
	padding: 5px 0px 5px 10px;
	width: 100%;
	min-width: 300px;
	}  

/*changed from h3*/
.jobtitle {
	font-size: 1.5em;
	font-weight: 600; 
	}

/*changed from h4*/
.organization { 
	font-size: 1.2em;
	font-weight: 400;
	font-style: italic;
	}

/*changed from h5*/
.date {	
	font-size: 1em;
	font-weight: 700;
	margin: 2px 0px 0px;
	}

/*changed from p*/
.description {
	margin: 10px 0px;
	}

#degrees {
	margin: 5px 0px 0px;
	}

#do {
	margin: 5px 0px 0px;
	}
	

