#masthead {
	width: 900px;
	}

#content {
	margin: 0 auto;
	width: 900px;
	}

#lead-image-container {
	text-align: left;
	font-size: 10px;
	font-family: Georgia, serif;
	color: #5a5959; 
	margin-bottom: 20px;
	}

#lead-image {
	width: 100%;
	object-fit: cover;
	margin: 0 auto;
	}

h1 { 
	font-family: Helvetica, sans-serif;
	font-size: 40px;
	}


#byline {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	}

p { font-family: Georgia, serif;
	font-size:13px;
	}

#first-inline-image-container {
	text-align: left;
	font-size: 10px;
	font-family: Georgia, serif;
	width:600px;
	height:450px;
	color: #5a5959;
	margin: 0 auto;
	float: left;
	}

#first-inline-image {
	width:500px;
	height:400px;
	object-fit: cover;
	margin: 0 auto;
	}

blockquote {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 400px;
	margin-right:400px;
	border-left: 4px solid #C8102E;
	font-size: 2em;
	font-weight: 600;
	color: 	#1D428A;
	}

#second-inline-image-container {
	text-align: left;
	font-size: 10px;
	font-family: Georgia, serif;
	color: #5a5959;
	margin: 0 auto;
	}

#second-inline-image {
	object-fit: cover;
	margin: 0 auto;
	}

.links a:link {
	font-weight: 600;
	color: #0bc5f4;
	}

.links a:hover {
	color: #25ce2e;
	}

.links a:visited {
	color: #f74e2a;
	}